
body {
    width: 960px;
    height: auto;
    background: #88c5cc;
    margin: 0 auto;
}

header {
    background: #e34030;
    width: auto;
    height: 70px;
    margin-top: 20px;
    border-radius: 20px 20px 0 0;
}

main {
    background: #b39d32;
    width: auto;
    height: auto;
    border-radius: 0 0 20px 20px;
}

.cart-button {
    float: right;
    width: 115px;
    height: 33px;
    margin-top: 20px;
    margin-right: 100px;
    background: #bfbfbe;
    border-radius: 16px;
    font: 400 17px Arial, RomanT, sans-serif;
    text-align: center;
}

.cart-button:hover {
    background-color: #00ff03;

}

.goods-list {
    float: left;
    width: 100%;
    background: #927f6b;
    border-radius: 0 0 20px 20px;
}

.goods-item {
    float: left;
    position: relative;
    width: 21%;
    height: 300px;
    border: 2px solid #1c4e52;
    border-radius: 10px;
    padding: 10px;
    margin: 2% 2% 20px 2%;
    background: #d8cfb1;
    box-sizing: border-box;
    font: 400 14px Arial, RomanT, sans-serif;
    text-align: center;
}

.goods-item:hover {
    background-color: #fff3a6;
}

div.goods-item p {
    position: absolute;
    bottom: 10px;
    left: 45px;
    color: #000000;
    border: 2px solid #736682;
    border-radius: 7px;
    width: 21px;
    height: 27px;
    margin: 0;
    padding: 10px 60px 3px 30px;
    text-align: center;
    font: 600 20px Arial, RomanT, sans-serif;
}

div.goods-item h3 {
    text-decoration: underline;
}

div.goods-item img {
    margin-top: 15px;
    width: 150px;
    height: 150px;
}
